.prvi{
    background-color: gray;
    border:5px black solid;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
}

.drugi{
    background-color: gray;
    border: 5px black dashed;
    margin-left: 80%;
    text-align: center;
    padding: 30px;
}

.treci{
    background-color: gray;
    border-right: 5px black double;
    margin-right: 80%;
}

.cetvrti{
    background-color: gray;
    border-top: 5px black dashed;
    border-bottom: 5px black dotted;
    margin-left: 15%;
    margin-right: 15%;
}